* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

nav a, nav a:visited {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: gray;
}

nav > div {
  display: flex;
  justify-content: center;
}

nav a {
  display: inline-block;
  margin: 0.5em;
}

.root-app {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  grid-row: 1;
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: 0px 0.2rem 0.5rem 0px gainsboro;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header > h2 {
  text-align: center;
}

.content {
  grid-row: 2;
  padding: 0.5em 1em 0.5em 1em;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
}

.form-auth .form-portfolio {
  grid-row: 1;
}

.form-auth > h3,
.form-portfolio > h3 {
  margin-bottom: 0.5em;
  text-align: center;
}

form {
  display: flex;
  justify-content: flex-start;
}

form > div {
  margin-left: 0.5em;
}

form > div > label {
  margin-right: 0.25em;
}

.table {
  grid-row: 2;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  border: 1px solid gainsboro;
  padding: 0.15em;
}

th {
  background-color: gainsboro;
}

.last-row {
  background-color: rgb(233, 233, 233);
}

.chart {
  grid-row: 3;
  width: 80%;
  border: 1px solid gainsboro;
}

.chart > h3 {
  text-align: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: gainsboro;
}

.remove-button {
  height: 1.5em;
  background-color: #f4511e;
  border: 0;
  font-size: 0.75em;
  border: 1px solid gainsboro;
  width: 6em;
}

.remove-button:hover {
  cursor: pointer;
  color: white;
}

.tech {
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  width: 80%;
  align-items: center;
  justify-items: center;
}

.tech > img {
  max-height: 100px;
  max-width: 200px;
  margin: 1em;
}



